/*
Style for image remove button alignment
*/
.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

/*
Style for carousel image popup
*/
.imgHolder img{
    width: 100%;
}