<div>
    <div class="item clearfix">
        <ol class="breadcrumb">
            <li><a href="javaScript:void(0);">Breadcrumb</a></li>
            <li><a href="javaScript:void(0);">Breadcrumb</a></li>
            <li class="active">Breadcrumb</li>
        </ol>
    </div>
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Top Image</span>
        </div>
        <div class="main col-md-9 pull-right">
            <div class="screens clearfix">
                <div class="screen layouticon pull-left">
                    <a class="border-grey border-radius-three default-background-hover"
                       ng-hide="ContentPeople.item.topImage" ng-click="ContentPeople.selectTopImage()"></a>
                  <span ng-show="ContentPeople.item.topImage">
                    <img src="{{ContentPeople.item.topImage}}">
                    <span style="float: right; top: -50px; content: '-';"
                          class="btn-icon btn-delete-icon btn-danger transition-third"
                          ng-click="ContentPeople.removeTopImage()"></span>
                  </span>
                </div>
            </div>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>First Name</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" ng-model="ContentPeople.item.fName" placeholder="">
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Last Name</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" ng-model="ContentPeople.item.lName" placeholder="">
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Position</span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" ng-model="ContentPeople.item.position" placeholder="">
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Deep Link URL</span>
        </div>
        <div class="main col-md-9 pull-right">
            <span>{{ContentPeople.item.deepLinkUrl}}</span>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Body Content</span>
        </div>
        <div class="main col-md-9 pull-right">
            <textarea class="form-control" ng-model="ContentPeople.item.bodyContent"
                      placeholder="WYSIWYG"></textarea>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Links</span>
        </div>
        <div class="main col-md-9 pull-right">
            <div class="clearfix">
                <a class="btn btn-success pull-left" ng-click="ContentPeople.openAddLinkPopup()">Add Links</a>
            </div>
            <div class="carousel-items draggable-list-view margin-top-twenty border-radius-four border-grey"
                 ui-sortable="ContentPeople.linksSortableOptions" ng-model="ContentPeople.item.links">
                <div class="d-item" ng-repeat="_link in ContentPeople.item.socailLinks">
                    <span class="icon icon-menu cursor-grab"></span>
                    <img ng-src={{_link.iconImageUrl}} class="border-radius-four border-grey">

                    <div class="copy pull-right width66">
                        <span class="width34 title ellipsis">{{_link.title}}</span>
                        <span class="width34 title ellipsis">{{_link.url}}</span>
                        <span class="btn-icon btn-delete-icon btn-danger btn-cross"
                              ng-click="ContentPeople.removeLink($index)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="none">
    <div ng-hide="ContentPeople.isUpdating" class="item clearfix row">
        <div class="main col-md-9 pull-right">
            <div class="col-md-6 pull-left padding-left-zero padding-right-ten">
                <a class="btn btn-danger pull-right stretch" href="#/">Cancel</a>
            </div>
            <div class="col-md-6 pull-right padding-right-zero padding-left-ten">
                <a class="btn btn-primary pull-right stretch" ng-click="ContentPeople.addNewItem()"
                   href="javaScript:void(0);">Save</a>
            </div>
        </div>
    </div>
    <div ng-show="ContentPeople.isUpdating" class="item clearfix row">
        <div class="main col-md-9 pull-right">
            <div class="col-md-6 pull-right padding-right-zero padding-left-ten">
                <a class="btn btn-primary pull-right stretch" ng-click="ContentPeople.done()"
                   href="javaScript:void(0);">Done</a>
            </div>
        </div>
    </div>
</div>