/* Plugin CSS */
.people-banner .people-media img{
	max-width:140px;
	max-height:140px;
}
.people-plugin .people-info{
	position:relative;
}
.people-plugin .people-info .icon{
	color:#09a3ee;
	font-size:24px;
	vertical-align:top;
}
.people-plugin.layout1 .people-info .icon-holder{
	position:absolute;
	height:24px;
	display:inline-block;
	top:50%;
	margin-top:-5px;
	right:15px;
}
.people-plugin.layout2 .people-banner .people-bg{
	background:rgba(0, 0, 0, 0.8);
	padding:35px 0 !important;
}
.people-plugin.layout2 .people-banner .people-holder{
	max-width:400px;
	margin:0 auto;
	padding:0 15px;
}
.people-plugin.layout2 .people-banner .people-media{
	float:left;
	max-width:100px;
}
.people-plugin.layout2 .people-banner .people-media img{
	max-width:100%;
	height:auto;
}
.people-plugin.layout2 .people-banner .people-info{
	float:left;
	width:62%;
	padding-right:0;
	padding-top:4px;
	text-align:left !important;
	color:#fff;
}
.people-plugin.layout3 .people-banner .people-bg{
	padding:0 !important;
	position:relative;
}
.people-plugin.layout3 .people-banner .people-media{
	width:140px;
	position:absolute;
	left:0;
	top:0;
}
.people-plugin.layout3 .people-banner .people-media img{
	width:100%;
	border-radius:0;
	border:none;
	max-width:inherit;
	max-height:inherit;
}
.people-plugin.layout3 .people-banner .people-info{
	width:100%;
	padding-left:155px;
	float:left;
	height:140px;
	margin-top:0 !important;
	padding-top:24px;
	text-align:left !important;
}
.people-plugin.layout4 .people-banner .people-bg{
	background:rgba(255, 255, 255, 0.9);
}
.thumbnail-slider .thumbnail-slide img{
	max-width:100%;
}
.people-plugin .list-items .list-item:first-child::before{
	border:none !important;
	opacity:0;
	display:none;
}
.people-plugin.listlayout1 .list-items .list-item:first-child .content{
	padding-top:10px;
}

/* List Items */
.list-items .list-item{
	position:relative;
}
.list-items .list-item:before,
.layout3 .list-layout .list-item:after{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.layout3 .list-layout .list-item:after{
	border-top:none !important;
	top:inherit;
	bottom:0;
	border-bottom:1px solid #ddd !important;
}
.list-items .list-item + .list-item{
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}
/* End Plugin CSS */


/*
* Carousel container styling
*/

#carousel {
    overflow: hidden !important;
}

/*
Widget header styling
*/

.holder{
    margin-top: 0 !important;
}

/*
Styles for thumbnail images of people listing
*/

.people-thumbnail{
    height: 60px;
    overflow: hidden;
    position: relative;
}

.people-thumbnail-img{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.people-thumbnail-card{
    height: 200px;
    overflow: hidden;
    position: relative;
}


.people-thumbnail-img-card{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}

.body-content-word-break{
word-break: break-all;
}
#scroll-infinite{
    overflow-y: auto;
    max-height: 100%;
    position: absolute;
}

ul li{
    list-style: inherit !important;
    list-style-position: inside !important;
}
ol li{
    list-style: decimal !important;
    list-style-position: inside !important;
}

/*background image css class*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: none !important;
    transform: none !important;
}

/* To overlay texts on background */
.text-overlay {
    position: relative;
    z-index: auto;
}

.set-top-padding {
    padding-top: 0px !important;
}