/* Global CSS */
body {
  -webkit-overflow-scrolling: auto !important;
}
/* Global Styles ////////////////////////////////////////////////////////////////////////////// */
html{
	font-size: 16px !important;
}
.caption {
	font-size: .75rem;
	line-height: 1.25rem;
	opacity: .5;
}
.main-header{
	box-shadow:0 2px 4px rgba(98, 98, 98, 0.3);
	padding: 1rem;
}
.main-header:empty{
  display: none;
}
h5{
  font-size: 1rem !important;
  margin: 0 0 .125rem 0 !important;
}
p:empty{
  display: none;
}
.list-layout{
	padding: 1rem 0;
}
.list-item{
	cursor: pointer;
}
.list-item:hover{
	background-color: rgba(150,150,150,.05);
}
.list-item:before{
  display: none;
}
.btn-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	font-size: 1.125rem;
	cursor: pointer;
}
.btn-icon:hover{
	background-color: rgba(150,150,150,.05);
}
.load-in{
	transform: scale(.1);
	opacity: 0;
	animation: load-in .2s ease-in .5s forwards;
}
.transparent-background{
    background-color: rgba(255, 255, 255, 0.1);
}
.transparent-background.btn-icon{
    transition: background-color ease-in-out .1s;
}
@keyframes load-in {
	0%{
			transform: scale(.1);
	}
	100%{
			transform: scale(1);
			opacity: 1;
	}
}
.plugin-slider .plugin-slide,
.plugin-slider.owl-carousel .owl-stage-outer,
.plugin-slider.owl-carousel .owl-stage,
.plugin-slider.owl-carousel .owl-item{
	min-height: inherit !important;
}
.plugin-slider .plugin-slide img{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
	min-height: inherit !important;
}
.word-break,
.break-word{
  word-break: break-word;
}
/* End Global Styles ////////////////////////////////////////////////////////////////////////////// */

/* Start List Layout 1 ////////////////////////////////////////////////////////////////////////////// */
.listlayout1 .list-item,
.listlayout3 .list-item{
  display: flex;
  align-items: center;
  padding: .75rem;
}
.listlayout1 .list-item .media,
.listlayout3 .list-item .media{
  flex-shrink: 0;
  margin-right: .75rem;
  width: 6.25rem;
  height: 3.5rem;
  border-radius: .25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.listlayout3 .list-item .media{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.listlayout1 .list-item .media img,
.listlayout3 .list-item .media img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.listlayout2 .list-item .media-holder{
  width: 100%;
  height: 50vw;
  overflow: hidden;
}
.listlayout2 .list-item img{
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
/* End List Layout 1 ////////////////////////////////////////////////////////////////////////////// */

/* Start Search Bar ////////////////////////////////////////////////////////////////////////////// */
.search-holder {
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.1);
	margin: .75em;
	border-radius: .25rem;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 1.5rem);
	box-shadow: 0 0.05rem 0.25rem rgba(135, 135, 135, 0.2);
}
.search-container{
  border-radius: .25rem;
}
.search-holder input[type="text"]{
	background-color: rgba(150,150,150,.02);
  color: inherit !important;
  border: 1px solid transparent;
  padding-left: 3rem;
  padding-right: 3rem;
}
.search-holder input[type="text"]::placeholder{
	color: inherit !important;
	opacity: .5;
}
.search-icon {
  position: absolute;
  width: 1rem;
  top: 50%;
  left: .75rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.search-clear{
  position: absolute;
  top: 50%;
  right: .25rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.search-list{
	padding-top: 3.75rem;
}
/* End Search Bar ////////////////////////////////////////////////////////////////////////////// */

/* Start Detail Item 1 ////////////////////////////////////////////////////////////////////////////// */
.layout1 .detail-img{
  min-height: 200px;
  max-height: 320px;
  overflow: hidden;
}
.layout1 .detail-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.people-info.main-header{
  display: flex;
  align-items: flex-start;
}
.people-info.main-header .copy{
  flex: auto;
}
.people-info.main-header .btn-primary{
  margin-left: .75rem;
}
.layout1 .main-header{
  word-break: break-word;
}
/* End Detail Item 1 ////////////////////////////////////////////////////////////////////////////// */

/* Start Detail Item 2 ////////////////////////////////////////////////////////////////////////////// */
.layout2 .img-circle{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}
.layout2 .people-holder{
  display: flex;
  align-items: center;
}
/* End Detail Item 2 ////////////////////////////////////////////////////////////////////////////// */

/* Start Detail Item 3 ////////////////////////////////////////////////////////////////////////////// */
.layout3 .people-holder{
  display: flex;
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow:0 2px 4px rgba(98, 98, 98, 0.3);
}
.layout3 .people-media{
  width: 140px;
  height: 140px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}
.layout3 .people-info{
  padding: .5rem;
}
.layout3 .people-media img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout3 .people-holder{
  display: flex;
  align-items: center;
}
/* End Detail Item 3 ////////////////////////////////////////////////////////////////////////////// */

/* Start Detail Item 4 ////////////////////////////////////////////////////////////////////////////// */
.layout4 .img-circle{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}
.layout4 .people-info{
  padding: 0 32px;
}
/* End Detail Item 4 ////////////////////////////////////////////////////////////////////////////// */

.people-plugin .people-info{
	position:relative;
}
.people-plugin .people-info .icon{
	color:#09a3ee;
	font-size:24px;
	vertical-align:top;
}
.people-plugin.layout1 .people-info .icon-holder{
	position:absolute;
	height:24px;
	display:inline-block;
	top:50%;
	margin-top:-5px;
	right:15px;
}
.people-plugin.layout2 .people-banner .people-bg{
	background:rgba(0, 0, 0, 0.8);
	padding:35px 0 !important;
}
.people-plugin.layout2 .people-banner .people-holder{
	max-width:400px;
	margin:0 auto;
	padding:0 15px;
}
.people-plugin.layout2 .people-banner .people-media{
	float:left;
	max-width:100px;
}
.people-plugin.layout2 .people-banner .people-media img{
	max-width:100%;
	height:auto;
}
.people-plugin.layout2 .people-banner .people-info{
	float:left;
	width:62%;
	padding-right:0;
	padding-top:4px;
	text-align:left !important;
	color:#fff;
}
.people-plugin.layout3 .people-banner .people-bg{
	padding:0 !important;
	position:relative;
}
.people-plugin.layout4 .people-banner .people-bg{
	background:rgba(255, 255, 255, 0.9);
}
.thumbnail-slider .thumbnail-slide img{
	max-width:100%;
}
.people-plugin .list-items .list-item:first-child::before{
	border:none !important;
	opacity:0;
	display:none;
}

/* List Items */
.list-items .list-item{
	position:relative;
}
html[safe-area="true"] .list-items {
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}
/* End Plugin CSS */


/*
* Carousel container styling
*/

#carousel {
	overflow: hidden !important;
}

/*
Widget header styling
*/

.holder{
    margin-top: 0 !important;
}

/*
Styles for thumbnail images of people listing
*/

.people-thumbnail{
    height: 60px;
    overflow: hidden;
    position: relative;
}

.people-thumbnail-img{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.people-thumbnail-card{
    height: 200px;
    overflow: hidden;
    position: relative;
}


.people-thumbnail-img-card{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}

.body-content-word-break{
word-break: break-all;
}
#scroll-infinite{
    overflow-y: auto;
    max-height: 100%;
    position: absolute;
}

ul li{
    list-style: inherit !important;
    list-style-position: inside !important;
}
ol li{
    list-style: decimal !important;
    list-style-position: inside !important;
}

/*background image css class*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: none !important;
    transform: none !important;
}

/* To overlay texts on background */
.text-overlay {
    position: relative;
    z-index: auto;
}

.text-overlay-round {
    position: relative;
    z-index: auto;
    border-radius: 100%;
}

.set-top-padding {
    padding-top: 0px !important;
}

.text-white{
	color: white !important;
}
.infinite-scroll-parent {
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}
.search-box {
  display: block;
  width: 100%;
  background-color: #ededed;
  border: none;
  border-radius: 15px;
  padding: 10px;
  padding-left: 35px;
  line-height: normal;
}
.hidden {
  display: none;
}
.placeholder {
  background-color: #bdbdbd;
  border-radius: 4px;
  width: 100px;
  height: 60px;
}
.person-name {
  font-size: 1em;
}
.person-position {
  font-size: .75em;
}
.no-matches {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 7rem;
  z-index: 10;
}

.no-matches h1 {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
}

.no-matches h2 {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}

.btnlayout1 {
  right: 10%;
  position: absolute;
}