

/* Styles for home page carousel - to align and style the slider items and navigation dots*/
.plugin-banner {
    overflow: hidden;
}

/*
Widget header styling
*/

.holder{
    margin-top: 0 !important;
}
/*
Styles for list-layout-1*/

.item-position{
    padding-left: 10px !important;
}


/*
Styles for thumbnail images of people listing
*/

.people-thumbnail{
    height: 60px;
    overflow: hidden;
    position: relative;
}

.people-thumbnail-img{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.people-thumbnail-card{
    height: 200px;
    overflow: hidden;
    position: relative;
}


.people-thumbnail-img-card{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}

.body-content-word-break{
word-break: break-all;
}
#scroll-infinite{
    overflow-y: auto;
    max-height: 800px;
}

ul li{
    list-style: inherit !important;
    list-style-position: inside !important;
}
ol li{
    list-style: decimal !important;
    list-style-position: inside !important;
}

/*background image css class*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: none !important;
    transform: none !important;
}

/* To overlay texts on background */
.text-overlay {
    position: relative;
    z-index: auto;
}