body.scrollable {
    overflow: auto;
}

/* Styles for home page carousel - to align and style the slider items and navigation dots*/
.plugin-banner {
    overflow: hidden;
}

.owl-theme {
    position: relative;
    overflow: auto;
    max-height: inherit !important;
    min-height: 300px;
}

.owl-stage, .owl-stage-outer {
    overflow: auto;
    max-height: 380px;
    min-height: 300px;
}
.plugin-slide {
    position: relative;
    max-height: 380px;
    min-height: 300px;
}

.plugin-slide img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
    max-height: 380px;
}

.owl-item {
    float: left;
    max-height: 380px;
    min-height: 300px;
    overflow: auto;
}

.owl-dot {
    display: inline-block;
}

.owl-controls {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
    background: rgba(255, 255, 255, 1.0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/*
Styles for pagination in people listing
*/

#scroll-infinite{
    overflow-y: auto;
    max-height: 240px;
}

/*
Widget header styling
*/

.holder{
    margin-top: 0 !important;
}
/*
Styles for list-layout-1*/

.item-position{
    padding-left: 10px !important;
}


/*
Styles for thumbnail images of people listing
*/

.people-thumbnail{
    height: 60px;
    overflow: hidden;
    position: relative;
}

.people-thumbnail-img{
    width: 100px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
}

.people-thumbnail-card{
    height: 200px;
    overflow: hidden;
    position: relative;
}


.people-thumbnail-img-card{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}
