<div class="holder padding-zero">
    <div class="people-plugin layout3">
        <div class="people-banner">
            <div class="people-bg padding-top-fifteen padding-bottom-fifteen clearfix">
                <div class="people-holder clearfix border-bottom-grey">
                    <div class="people-media text-center" ng-if="WidgetPeople.item.topImage" style="min-height: 140px">
                        <img class="border-grey img-circle text-overlay" load-image="1x1" data-final-src="{{WidgetPeople.item.topImage}}" crop-width="140" crop-height="140" crop-type="crop">
                    </div>
                    <div class="people-media text-center" ng-if="!WidgetPeople.item.topImage" style="min-height: 140px">
                        <img class="border-grey img-circle text-overlay" src="../../../styles/media/holder-1x1.png">
                    </div>

                    <div class="people-info text-center margin-top-fifteen col-md-12">
                        <p class="ellipsis margin-top-five" style="font-size: 16px">{{WidgetPeople.item.fName}} {{WidgetPeople.item.lName}}</p>

                        <p class="ellipsis text-overlay">{{WidgetPeople.item.position}}</p>
                        <p class="ellipsis text-overlay" ng-show="WidgetPeople.item.email && !WidgetPeople.hideEmail"><a href="mailto:{{WidgetPeople.item.email}}">{{WidgetPeople.item.email}}</a></p>
                        <!-- <a ng-if="WidgetPeople.item.socialLinks.length" class="icon icon-profile text-overlay" ng-click="WidgetPeople.openLinks(WidgetPeople.item.socialLinks)"></a> -->
                        <button ng-if="WidgetPeople.item.socialLinks.length" class="btn btn-primary btn-details btn-sm" ng-click="WidgetPeople.openLinks(WidgetPeople.item.socialLinks)">Contact</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="padded">
            <p class="break-word text-overlay" ng-if='WidgetPeople.item.bodyContent'
               ng-bind-html='WidgetPeople.safeHtml(WidgetPeople.item.bodyContent)'></p>

            <p class="break-word text-overlay" ng-if='!WidgetPeople.item.bodyContent'></p>
        </div>
    </div>
</div>
