<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../../styles/helper.css">
    
    <!-- Meta -->
	<meta charset="utf-8">
</head>
<div class="holder padding-zero">
	<div class="people-plugin layout1">
		<div class="plugin-banner clearfix border-bottom-grey">
			<div class="plugin-slider text-center">
				<div>
					<img
              ng-src="{{WidgetPeople.item.topImage | getImageUrl : 342 : 200}}">
				</div>
			</div>
		</div>
		<div class="people-info text-left padded padding-bottom-zero clearfix ">
			<div class="col-xs-10 padding-zero pull-left">
				<h4 class="margin-top-zero"><a class="text-primary">{{WidgetPeople.item.fName}} {{WidgetPeople.item.lName}}</a></h4>
				<h5 class="margin-bottom-zero">{{WidgetPeople.item.position}}</h5>
			</div>
			<div class="col-xs-2 padding-right-zero pull-right text-right">
				<a class="icon icon-profile"
           ng-click="WidgetPeople.openLinks(WidgetPeople.item.socialLinks)"></a>
			</div>
		</div>
		<div class="padded padding-top-zero">
			<hr class="small">
			<p class="body-content-word-break" ng-bind-html='WidgetPeople.item.bodyContent'></p>
		</div>
	</div>
</div>
</html>