
<div class="holder padding-zero">
	<div class="people-plugin layout4">
		<div class="people-banner text-overlay" style="min-height: 267px" ng-if="WidgetPeople.item.topImage" data-ng-attr-style="background:url({{WidgetPeople.item.topImage}}) no-repeat; background-position:center center; background-size:cover !important; " crop-width="342" crop-height="267" crop-type="crop">
			<div class="people-bg padding-top-fifteen padding-bottom-fifteen clearfix">
				<div class="people-holder clearfix">
					<div class="people-media text-center">
						<img class="border-grey img-circle text-overlay" load-image="1x1" style="min-height: 140px;min-width: 140px"
                 data-final-src="{{WidgetPeople.item.topImage}}" crop-width="140" crop-height="140" crop-type="crop">
					</div>
					<div class="people-info text-center margin-top-fifteen col-md-12">
						<p class="text-overlay" style="color:#5f5f5f !important; font-size: 16px !important;">{{WidgetPeople.item.fName}} {{WidgetPeople.item.lName}}</p>
						<p style="color:#5f5f5f !important;">{{WidgetPeople.item.position}}</p>
						<p style="color:#5f5f5f !important;" ng-show="WidgetPeople.item.email" ng-click="">{{WidgetPeople.item.email}}</p>
            			<!-- <a ng-if="WidgetPeople.item.socialLinks.length" class="icon icon-profile text-overlay"></a> -->
            			<button ng-if="WidgetPeople.item.socialLinks.length" class="btn btn-primary btn-details btn-sm" ng-click="WidgetPeople.openLinks(WidgetPeople.item.socialLinks)">Details</button>
					</div>
				</div>
			</div>
		</div>
		<div class="people-banner text-overlay"
         ng-if="!WidgetPeople.item.topImage"
         data-ng-attr-style="background:url({{WidgetPeople.item.topImage||'../../../styles/media/holder-1x1.png'}}) no-repeat; background-position:center center;">
			<div class="people-bg padding-top-fifteen padding-bottom-fifteen clearfix">
				<div class="people-holder clearfix">
					<div class="people-media text-center">
						<img class="border-grey img-circle text-overlay"
                 ng-src="{{'../../../styles/media/holder-1x1.png'}}">
					</div>
					<div class="people-info text-center margin-top-fifteen col-md-12">
						<p class="text-overlay" style="color:#5f5f5f !important; font-size: 16px !important;">{{WidgetPeople.item.fName}} {{WidgetPeople.item.lName}}</p>
						<p style="color:#5f5f5f !important;">{{WidgetPeople.item.position}}</p>
						<p style="color:#5f5f5f !important;" ng-show="WidgetPeople.item.email"><a href="mailto:{{WidgetPeople.item.email}}">{{WidgetPeople.item.email}}</a></p>
						<a class="icon icon-profile text-overlay" ng-if="WidgetPeople.item.socialLinks.length" ng-click="WidgetPeople.openLinks(WidgetPeople.item.socialLinks)"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="padded">
			<p class="break-word text-overlay"
         ng-if='WidgetPeople.item.bodyContent' ng-bind-html='WidgetPeople.safeHtml(WidgetPeople.item.bodyContent)'></p>
			<p class="break-word text-overlay" ng-if='!WidgetPeople.item.bodyContent'></p>
		</div>
	</div>
</div>
