<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../../styles/helper.css">
    
    <!-- Meta -->
	<meta charset="utf-8">
</head>
<div class="holder padding-zero">
	<div class="people-plugin layout3">
		<div class="people-banner border-bottom-grey">
			<div class="people-bg padding-top-fifteen padding-bottom-fifteen clearfix">
				<div class="people-holder clearfix">	
					<div class="people-media text-center">
						<img class="border-grey img-circle text-overlay"
                 ng-src="{{WidgetPeople.item.topImage | getImageUrl : 140 : 140}}">
					</div>
					<div class="people-info text-center margin-top-fifteen col-md-12">
						<h5 class="ellipsis text-primary"><a class="text-primary text-overlay">{{WidgetPeople.item.fName}} {{WidgetPeople.item.lName}}</a></h5>
						<h5 class="ellipsis text-overlay">{{WidgetPeople.item.position}}</h5>
            <a class="icon icon-profile text-overlay"
               ng-click="WidgetPeople.openLinks(WidgetPeople.item.socialLinks)"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="padded">
			<p class="body-content-word-break text-overlay" ng-if='WidgetPeople.item.bodyContent'
			   ng-bind-html='WidgetPeople.safeHtml(WidgetPeople.item.bodyContent)'></p>

			<p class="body-content-word-break text-overlay" ng-if='!WidgetPeople.item.bodyContent'></p>
		</div>
	</div>
</div>
</html>