<div class="holder padding-zero">
	<div class="people-plugin layout1">
		<div class="plugin-banner clearfix">
			<div class="plugin-slider text-center">
				<div  ng-if="WidgetPeople.item.topImage"  class="text-overlay" style="min-height: 200px">
					<img load-image="16x9" data-final-src="{{WidgetPeople.item.topImage}}" crop-width="400" crop-height="235" crop-type="crop">
					<img ng-if="!WidgetPeople.item.topImage" src="../../../styles/media/holder-2x1.png">
				</div>
				<!--<div ng-if="!WidgetPeople.item.topImage"  class="text-overlay" style="min-height: 200px">
					<img style="object-fit: cover" src="../../../styles/media/holder-2x1.png">
				</div>-->
			</div>
		</div>
		<div class="people-info text-left padded padding-bottom-zero padding-top-ten clearfix ">
			<div class="col-xs-9 padding-zero pull-left">
				<p class="margin-zero text-overlay" style="font-size: 16px">{{WidgetPeople.item.fName}} {{WidgetPeople.item.lName}}</p>
				<p class="margin-bottom-zero">{{WidgetPeople.item.position}}</p>
				<p class="margin-bottom-zero" ng-show="WidgetPeople.item.email && !WidgetPeople.hideEmail"><a href="mailto:{{WidgetPeople.item.email}}">{{WidgetPeople.item.email}}</a></p>
			</div>
			<div class="col-xs-3 padding-right-zero pull-right text-right text-overlay margin-top-ten">
				<!-- <a ng-if="WidgetPeople.item.socialLinks.length" class="icon icon-profile text-overlay" ></a> -->
				<button ng-if="WidgetPeople.item.socialLinks.length" class="btn btn-primary btn-details btn-sm" ng-click="WidgetPeople.openLinks(WidgetPeople.item.socialLinks)">Details</button>
			</div>
		</div>
		<div class="padded padding-top-zero">
			<hr class="small">
			<p class="break-word text-overlay" ng-if='WidgetPeople.item.bodyContent' ng-bind-html='WidgetPeople.safeHtml(WidgetPeople.item.bodyContent)'></p>
			<p class="break-word" ng-if='!WidgetPeople.item.bodyContent'></p>
		</div>
	</div>
</div>
