<div class="holder padding-zero">
  <div class="people-plugin listlayout1" >
    <div class="plugin-banner clearfix">
        <div id="carousel" build-fire-carousel=""
             ng-style="WidgetHome.data.content.images.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    </div>
    <div class="padded text-left text-overlay"  ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
      <p ng-bind-html='WidgetHome.safeHtml(WidgetHome.data.content.description)'
         class="margin-bottom-zero"></p>
    </div>
    <div>
      <div class="list-items text-overlay" ng-if="WidgetHome.data"
           infinite-scroll-distance="0"
           infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-disabled="WidgetHome.noMore"
           data-infinite-container=".infinite-scroll-parent">
      <span ng-repeat="item in WidgetHome.items">
      <div class="clearfix text-overlay">
        <div class="plugin-banner clearfix">
          <div class="plugin-slide text-center">
            <img ng-if="item.data.topImage" load-image="239x1" data-final-src="{{item.data.topImage | getImageUrl : 400 : 192}}">
            <img ng-if="!item.data.topImage" src="../../../styles/media/holder-2x1.png" >
          </div>
        </div>
      </div>
		<div class="padded text-left text-overlay">
      <a class="text-primary" href="#/people/{{item.id}}">{{item.data.fName}}
        {{item.data.lName}}</a>

      <p class="margin-bottom-zero ellipsis body-content-word-break text-overlay"
         ng-if="item.data.position">{{item.data.position}}

      <p class="margin-bottom-zero body-content-word-break text-overlay"
         ng-if="!item.data.bodyContent"></p>
    </div>
    </span>
      </div>
    </div>
  </div>
</div>
