<div class="holder padding-zero">
  <div class="people-plugin listlayout1">
    <div class="plugin-banner clearfix">
      <div ng-show="WidgetHome.shouldShowCarousel()" id="carousel" build-fire-carousel=""
           ng-style="WidgetHome.data.content.images.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
    </div>
    <div class="padded padding-bottom-zero text-left text-overlay" ng-class="{'set-top-padding': !WidgetHome.data.content.description}">
      <p
          ng-show="WidgetHome.shouldShowDescription()"
          ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"
          class="margin-bottom-zero text-overlay"></p>
      <hr class="small" ng-show="WidgetHome.shouldShowDescription()">
      <div>
        <div class="list-items" ng-if="WidgetHome.data" infinite-scroll-distance="1" data-infinite-container=".infinite-scroll-parent" infinite-scroll="WidgetHome.loadMore()" infinite-scroll-disabled="WidgetHome.noMore">
          <div class="list-item clearfix" ng-repeat="item in WidgetHome.items">
            <div ng-if="item.data.topImage" class="media pull-left border-radius-four people-thumbnail margin-right-ten" ng-click="WidgetHome.getPeopleDetails(item.id)">
              <img class="people-thumbnail-img text-overlay" load-image="4x3" crop-width="100" crop-height="60" crop-type="crop" data-final-src="{{item.data.topImage}}">
            </div>
            <div ng-if="!item.data.topImage" class="media pull-left border-radius-four people-thumbnail margin-right-ten" ng-click="WidgetHome.getPeopleDetails(item.id)">
              <img class="people-thumbnail-img text-overlay" src="../../../styles/media/holder-2x1.png">
            </div>
            <div class="content margin-top-ten padding-left-zero" ng-click="WidgetHome.getPeopleDetails(item.id)" style="min-height:50px;">
              <p class="text-primary ellipsis margin-zero text-overlay">
				<a>{{item.data.fName}} {{item.data.lName}}</a>
			  </p>
              <p class="margin-bottom-zero ellipsis body-content-word-break text-overlay" ng-if="item.data.position">{{item.data.position}}</p>
              <p class="margin-bottom-zero ellipsis body-content-word-break text-overlay" ng-if="!item.data.bodyContent"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
