
.slide {
    /*position: absolute;*/
      top: 0;
    /*left: 90%; /* dont scroll till data loaded*/
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:white;

    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.final {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-enter {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {

    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.alert {
    padding: 8px !important;
}

.alert.deep-link {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
}

.item-link-header {
    margin: 0;
    padding: 0;
}

.widget-icon {
    height: 47px;
    width: 48px;
    display: inline-block;
    float: left;
}

.icon_upload_placeholder {
    background: #f9f9f9 no-repeat center center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    float: left;
}

.icon_upload_placeholder:hover {
    background-color: #e9e9e9;
}

.imgPlHolderSquare, .listImg {
    width: 40px;
    height: 40px;
	line-height:37px;
}

.link-title {
    border: 0 !important;
    margin-top: 3px;
	padding-left:0;
}

.align-right {
    text-align: right;
}

/*
To align action buttons in image carousel listing and people listing on home page
*/
.list-view {
    width: 35% !important;
    position: static !important;
    left: auto !important;
    top: auto !important;
    margin-top: 5px !important;

}

.cursor-grab {
    cursor: -webkit-grab;
}

.width-inherit{
    width: inherit !important
}

.width65 {
    width: 65% !important;
}

.width66 {
    width: 66% !important;
}

.width34 {
    width: 34% !important;
}

.btn-cross {
    margin-left: 0 !important;
    float: right;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    margin: 0px;

}

.imgHolder{
    width: 166px;
}

.imgHolder img{
    width: 100%;
}


.item-body-content{
    top: 12px !important;
}
/*
Styles for pagination in people listing
*/

#scroll-infinite{
    overflow-y: auto;
    max-height: 475px;
}

/*
For disabling anchor buttons
*/

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
/*
styles for people list
*/
.people-item-list{
    min-height: 55px;
}

.people-item-list .copy{
    width: auto;
    max-width: inherit;
    min-width: inherit;
    display: block;
    overflow: hidden;
}
.people-item-list img{
    float: left;
}

.people-item-list .icon{
    float: left;
}
/*
Style for carousel image dimension
*/

.home.carousel-items .item{
    padding: 5px 15px;
    border-top: 1px solid #ddd;
    min-height: 50px;
}
.home.carousel-items .item img{
    max-width: 80px;
    max-height: 40px;
}
.home.carousel-items .item .icon{
    float: left;
    font-size: 24px;
    position: relative;
    margin-right: 7px;
    margin-top: 7px;
    cursor: pointer;
    color: #999;}
.home.carousel-items .item .btn-delete-icon{
top: 8px;
}

.word-wrap {
    line-height: 40px;
    top: 0 !important;
    width: 40% !important;
    white-space: nowrap !important;
    margin-left: 5px;
}

.carousel-item-btns{
    padding-top: 3px;
    width: 27%;
}
.clear-both{
    clear: both;
}

.img-carousel-thumb{
    display: block;
    float: left;
    text-align: center;
    width: 80px;
    height: 40px;
}

.img-carousel-thumb > img{
    max-height: 38px !important;
}

.link-close-btn {
    margin-top: 10px;
}

.listing-bg{
    background-color: white;
}

.item .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}