.main_view {
    position: relative;
    overflow: hidden;
}

.content {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.content.ng-enter,
.content.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.content.ng-enter {
    left: -300%;
}

.content.ng-enter-active {
    left: 0;
}

.content.ng-leave {
    left: 0;
}

.content.ng-leave-active {
    left: -200%;
}

.alert {
    padding: 8px !important;
}

.alert.deep-link {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
}

.item-link-header {
    margin: 0;
    padding: 0;
}

.widget-icon {
    height: 47px;
    width: 48px;
    display: inline-block;
    float: left;
}

.icon_upload_placeholder {
    background: #f9f9f9 no-repeat center center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    float: left;
}

.icon_upload_placeholder:hover {
    background-color: #e9e9e9;
}

.imgPlHolderSquare, .listImg {
    width: 40px;
    height: 40px;
	line-height:37px;
}

.link-title {
    border: 0 !important;
    margin-top: 3px;
	padding-left:0;
}

.align-right {
    text-align: right;
}

/*
To align action buttons in image carousel listing and people listing on home page
*/
.list-view {
    width: 35% !important;
    position: static !important;
    left: auto !important;
    top: auto !important;
    margin-top: 5px !important;

}

.cursor-grab {
    cursor: -webkit-grab;
}

.width-inherit{
    width: inherit !important
}

.width66 {
    width: 66% !important;
}

.width34 {
    width: 34% !important;
}

.btn-cross {
    margin-left: 0 !important;
    float: right;
}

.item-body-content{
    top: 12px !important;
}
/*
Styles for pagination in people listing
*/

#scroll-infinite{
    overflow-y: auto;
    max-height: 300px;
}

/*
For disabling anchor buttons
*/

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
/*
styles for people list
*/
.people-item-list{
    min-height: 55px;
}

.people-item-list .copy{
    width: auto;
    max-width: inherit;
    min-width: inherit;
    display: block;
    overflow: hidden;
}
.people-item-list img{
    float: left;
}

.people-item-list .icon{
    float: left;
}
/*
Style for carousel image dimension
*/

.carousel-items .item{
    padding: 10px;
    padding: 8px 17px;
    border-top: 1px solid #ddd;
    min-height: 50px;
}
.carousel-items .item img{
    max-width: 80px;
    max-height: 40px;
}
.carousel-items .item .icon{
    font-size: 24px;
    position: relative;
    top: 8px;
    margin-right: 7px;
    margin-top: 10px;
    cursor: pointer;
    color: #999;}
.carousel-items .item .btn-delete-icon{
top: 8px;
}

.word-wrap {
    line-height: 1.5em;
    height: 3em;
    top: 0 !important;
    word-wrap: break-word;
    width: 30% !important; /* Use whatever width you want */
    display:  -webkit-inline-box !important;
    display:  -moz-box !important;
    white-space: normal !important;
    -webkit-line-clamp:2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}
.fixtop{
    top:-8px !important;
}