<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <!-- CSS -->
  <link href="../../../styles/helper.css" rel="stylesheet">
  <link href="../../../styles/siteIcons.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../scripts/owlCarousel/owlCarousel.css">
  <!-- build:bundleCSSFiles  -->
  <link href="css/widget.app.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- JS -->
  <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
  <script src="../../../scripts/smartcrop.js"></script>
  <script src="../../../scripts/buildfire.min.js"></script>
  <script src="../../../scripts/owlCarousel/owlCarousel.js"></script>
  <script src="../../../scripts/buildfire/components/carousel/carousel.js"></script>
  <script src="../../../scripts/angular/angular.min.js"></script>
  <script src="../../../scripts/angular/angular-route.min.js"></script>
  <script src="../../../scripts/angular/angular-animate.min.js"></script>
  <script src="../../../scripts/angular/ui-bootstrap.min.js"></script>
  <script src="../../../scripts/angular/ng-infinite-scroll.custom.js"></script>
  <!-- build:bundleJSFiles  -->
  <script src="app.js"></script>
  <script src="enums.js"></script>
  <script src="filters.js"></script>
  <script src="services.js"></script>
  <script src="assets/js/strings.js"></script>
  <script src="assets/js/stringsConfig.js"></script>
  <script src="controllers/widget.home.controller.js"></script>
  <script src="controllers/widget.people.controller.js"></script>
  <!-- endbuild -->
  <script src="../../../scripts/angular/angular-animate.min.js"></script>
  <link rel="stylesheet" href="../../../styles/transitionAnimation.css">
</head>
<body class="body-scroll" style="overflow-y: hidden !important">
<div class="main_view" ng-controller="WidgetHomeCtrl as WidgetHome">
  <div class="no-matches load-in backgroundColorTheme" ng-if="searchInput && WidgetHome.items.length <= 0">
    <h1>NO RESULTS</h1>
    <h2>Please try a different search query.</h2>
  </div>
  <form class="search-form form search-holder" ng-submit="onSearchSubmit(this)" ng-show="showHome">
    <div class="search-container backgroundColorTheme">
      <img class="search-icon" src="search.png" alt="Search"/>
      <input
      class="form-control bodyTextTheme"
      ng-change="onSearchChange()"
      ng-model="searchInput"
      type="text"
      placeholder="Search" />
      <button ng-click="clear()" class="btn-icon icon icon-cross2 search-clear" alt="Clear"/></button>
    </div>
  </form>
  <div class="slide infinite-scroll-parent" id="scrollable" data-back-img="{{ backgroundImage}}" ng-show="showHome">
     <div>
        <div ng-if="WidgetHome.data.design.listLayout"
           ng-include="'templates/layouts/' + WidgetHome.data.design.listLayout + '.html'">
      </div>
    </div>
  </div>
  <div ng-view="" class="slide content" ng-hide="showHome" data-back-img="{{ backgroundImage}}"></div>
</div>
<script>
  var frameType = buildfire ? buildfire.getFrameType() : '';

  if (frameType === 'LAUNCHER_PLUGIN') {
    buildfire.appearance.titlebar.show();
  }
</script>
</body>
</html>
