.main_view {
    overflow: hidden;
}

.content {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

[ui-view].content.ng-enter,
[ui-view].content.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
[ui-view].content.ng-enter {
    left: -300%;
}
[ui-view].content.ng-enter-active {
    left: 0;
}
[ui-view].content.ng-leave {
    left: 0;
}
[ui-view].content.ng-leave-active {
    left: -200%;
}