<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/helper.css">
    
    <!-- Meta -->
	<meta charset="utf-8">
</head>
<div class="holder padding-zero">
	<div class="people-plugin layout3">
		<div class="people-banner border-bottom-grey">
			<div class="people-bg padding-top-fifteen padding-bottom-fifteen clearfix">
				<div class="people-holder clearfix">	
					<div class="people-media text-center">
						<img class="border-grey img-circle" src="http://www.placehold.it/400x400.jpg">
					</div>
					<div class="people-info text-center margin-top-fifteen col-md-12">
						<h5 class="ellipsis text-primary"><a class="text-primary">Clair DeLune Clair DeLune Clair DeLune Clair DeLune</a></h5>
						<h5 class="ellipsis">Manager of Finance Manager of Finance Manager of Finance Manager of Finance</h5>
						<a class="icon icon-people" onclick="alert('Open Dynamic Links');"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="padded">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
</html>