<div class="modal-header">
    <h5 class="item-link-header"> Link URL</h5>
</div>
<div class="modal-body">
    <div class="item clearfix ">
        <div class="labels col-md-1 padding-right-zero pull-left">
            <div class="widget-icon">
                <div class="icon_upload_placeholder listImg"
                     ng-click="AddItemLinkPopup.selectIcon()"
                     ng-hide="AddItemLinkPopup.itemlink.iconImageUrl">+</div>
              <div ng-show="AddItemLinkPopup.itemlink.iconImageUrl">
                <img src="{{AddItemLinkPopup.itemlink.iconImageUrl}}">
              </div>
            </div>

        </div>
        <div class="pull-left col-md-11">
            <input type="text" class="form-control link-title" ng-model="AddItemLinkPopup.itemlink.title" placeholder="Title">
        </div>
    </div>
    <div class="item clearfix ">
        <div class="labels col-md-1 padding-right-zero pull-left align-right">
            <span>Url</span>
        </div>
        <div class="main col-md-11 pull-right">
            <input type="text" class="form-control" ng-model="AddItemLinkPopup.itemlink.url" placeholder="">
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="AddItemLinkPopup.ok(AddItemLinkPopup.itemlink)">Ok</button>
    <button type="button" class="btn btn-danger" ng-click="AddItemLinkPopup.cancel()">Cancel</button>
</div>
