<div class="holder padding-zero">
	<div class="people-plugin listlayout1">
		<div class="plugin-banner clearfix border-bottom-grey">
			<div class="plugin-slider text-center">
				<div class="plugin-slide">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
				<div class="plugin-slide hidden">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
				<div class="plugin-slide hidden">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
			</div>
		</div>
		<div class="padded padding-bottom-zero text-left">
			<p class="margin-bottom-zero">{{WidgetHome.data.content.description}}</p>
			<hr class="small">
			<div class="list-items">
				<div class="list-item clearfix" ng-repeat="item in WidgetHome.items">
					<div class="media pull-left">
						<img class="border-grey border-radius-four"
                 ng-src="{{item.topImage || 'http://www.placehold.it/100x60'}}">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a
                href="#/people">{{item.fName}} {{item.lName}}</a></p>
						<p class="margin-bottom-zero ellipsis">{{item.position}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
