<div class="holder padding-zero">
	<div class="people-plugin listlayout1">
		<div class="plugin-banner clearfix border-bottom-grey">
      <div class="plugin-slider text-center" image-carousel>
        <div class="plugin-slide item"
             ng-repeat="image in WidgetHome.data.content.images">
          <img
              ng-src="{{image.imageUrl || 'http://www.placehold.it/1280x720.jpg'}}">
        </div>
      </div>
		</div>
		<div class="padded text-left">
			<p class="margin-bottom-zero">{{WidgetHome.data.content.description}}</p>
		</div>
    <span ng-repeat="item in WidgetHome.items">
      <div class="plugin-banner clearfix border-bottom-grey">
        <div class="plugin-slide text-center">
          <img ng-src="{{item.data.topImage || 'http://www.placehold.it/1280x720.jpg'}}">
        </div>
      </div>
		<div class="padded text-left">
      <a class="text-primary"  href="#/people">{{item.data.fName}} {{item.data.lName}}</a>
      <p class="margin-bottom-zero">{{item.data.bodyContent}}</p>
    </div>
    </span>
	</div>
</div>
