<div class="holder padding-zero">
	<div class="people-plugin listlayout1">
		<div class="plugin-banner clearfix border-bottom-grey">
			<div class="plugin-slider text-center">
				<div class="plugin-slide">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
				<div class="plugin-slide hidden">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
				<div class="plugin-slide hidden">
					<img src="http://www.placehold.it/1280x720.jpg">
				</div>
			</div>
		</div>
		<div class="padded padding-bottom-zero text-left">
			<p class="margin-bottom-zero">WYSIWYG Editor.</p>
			<hr class="small">
			<div class="list-items">
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
				<div class="list-item clearfix">
					<div class="media pull-left">
						<img class="border-grey border-radius-four" src="http://www.placehold.it/100x60">
					</div>
					<div class="content margin-top-ten">
						<p class="text-primary ellipsis margin-zero"><a>This is a title. This is a title. This is a title.</a></p>
						<p class="margin-bottom-zero ellipsis">This is a summary that goes too long.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
