<div class="item row clearfix">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>List Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover">{{DesignHome.peopleInfo.design.listLayout}}</a>
            </div>
            <div class="layoutgrid pull-right border-grey border-radius-three">
                <ul>
                    <li ng-repeat="layout in DesignHome.layouts.listLayouts">
                        <a class="layouticon border-grey border-radius-three default-background-hover"
                           ng-click="DesignHome.changeListLayout(layout.name)">{{layout.name}}</a>
                    </li>
                </ul>

                <!--<a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>-->
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item Layout</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover">{{DesignHome.peopleInfo.design.itemLayout}}</a>
            </div>
            <div class="layoutgrid pull-right border-grey border-radius-three">
                <ul>
                    <li ng-repeat="layout in DesignHome.layouts.itemLayouts">
                        <a class="layouticon border-grey border-radius-three default-background-hover"
                           ng-click="DesignHome.changeItemLayout(layout.name)">{{layout.name}}</a>
                    </li>
                </ul>
                <!--<a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>
                <a class="layouticon border-grey border-radius-three default-background-hover"></a>-->
            </div>
        </div>
    </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
    <div class="labels col-md-3 padding-right-zero pull-left">
        <span>Item List Background Image</span>
    </div>
    <div class="main col-md-9 pull-right">
        <div class="screens clearfix">
            <div class="screen text-center layouticon pull-left">
                <a class="border-grey border-radius-three default-background-hover" ng-click="DesignHome.addBackgroundImage()"></a>
                <label class="secondary">750x1334</label>
            </div>
        </div>
    </div>
</div>